* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ------------------------------------------ */

.header {
  background-color: #2E3192;
  padding: 15px 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 24px;
  filter: invert(73%) sepia(98%) saturate(585%) hue-rotate(-14deg);
}

.logo-text {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav ul li {
  display: flex;
  align-items: center;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.nav ul li .login {
  font-weight: bold;
  text-decoration: underline;
}

.nav ul li .btn-visit {
  background-color: #FABE00;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.nav ul li .btn-visit:hover {
  background-color: #E0A800;
}

.calendar {
  margin: 40px 120px;

  h1 {
    margin-bottom: 30px;
  }
}

#calendar {
  max-width: 900px;
  margin: 0 auto
}